<h1>Editing exp_perticuler</h1>

<% form_for(@exp_perticuler) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exp_perticuler %> |
<%= link_to 'Back', exp_perticulers_path %>