<p>
  <b>Expence:</b>
  <%=h @expence_perticuler.expence_id %>
</p>

<p>
  <b>Exp value:</b>
  <%=h @expence_perticuler.exp_value %>
</p>

<p>
  <b>Cluser name:</b>
  <%=h @expence_perticuler.cluser_name %>
</p>

<p>
  <b>Shop name:</b>
  <%=h @expence_perticuler.shop_name %>
</p>

<p>
  <b>Date:</b>
  <%=h @expence_perticuler.date %>
</p>


<%= link_to 'Edit', edit_expence_perticuler_path(@expence_perticuler) %> |
<%= link_to 'Back', expence_perticulers_path %>