<h1>Editing expence</h1>

<% form_for(@expence) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :exp_type ,'Primary' %><br />
    <%= f.check_box :exp_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @expence %> |
<%= link_to 'Back', expences_path %>